@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.fonts {
  font-family: "Work Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html{
  scroll-behavior: smooth;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}

/* Header start */
header{
  background-color: #24a19c;
  padding: 0% 1%;
  text-align: center;
}

.logo-container{
  padding: 5%;
}

.logo-div{
    line-height: 4rem;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.logo-div i{
  color: white;
  border-radius: 50%;
  border: 2px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70px;
}



nav ul li{
  display: block;
}

nav ul li a{
  display: block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
  transition: 0.4s;
  line-height: 70px;
}

nav ul li a:hover{
  border-radius: 10px;
  background-color: rgba(0,0,0,0.5);
}



.hero {
  height: 650px;
  background-image: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .hero-content {
  width: 60%;
  text-align: center;
}

.hero-title {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2.2em;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 12px;
}

.hero-big {
  color: #fff;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  margin-bottom: 14px;
}

.btn {
  padding: 1rem;
  background-color: rgb(82, 195, 3);
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
  border: none;
  border-radius: 1rem;
  line-height: 1rem;
}

/* Card Section */
#card-box {
  max-width: 1200px;
  margin: 80px auto;
  padding: 0.7rem;
}


.sub-title {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.6;
}

.desc {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
}

.card-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    width: 300px;
    text-align: center;
}

.btn-food{
    padding: 8px 16px;
    background-color: rgba(82,195,3,0.5);
    border-radius: 8px;
}

.img-w{
    width: 90%;
    border-radius: 10px;
}

/* About Us Section */
.img-container{
    max-width: 400px;
}

#about-us{
    max-width: 1000px;
    margin: 70px auto;
    padding: 4px;
}



.about-container{
    margin-top: 20px;
}


.about-title{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.about-description{
    font-size: 1rem;
    opacity: 0.9;
    font-weight: 700;
}

.follow{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0%;
box-shadow: 1px 1px 3px rgba(0,0,0);
padding: 10px;
width: 100%;
margin-top: 20px;
text-align: center;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social{
    margin-top: 20px;
}

.social i{
    margin-right: 20px;
    font-size: 20px;

}


/* Another Banner */
#banner-section{
  background-image: url(../assets/banner-image.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.new-banner-content{
  padding: 100px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.new-banner-content h1{
  /* width: 100%; */
  text-align: center;
  background: rgba(255, 255, 0, 0.884);
  margin: 15px auto;
  font-size: 3rem;
  padding: 1rem;
  border-radius: 0.4rem;
}

.new-banner-content p{
  width: 40%;
  text-align: center;
  color: white;
  display: inline;
  font-size: 1.5rem;
  margin: 1rem auto;
  background: rgb(0, 128, 0);
}

.btn-order{
  padding: 0.6rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  background: rgb(0, 128, 0);
  text-transform: uppercase;
  color: white;
  transition: 0.4s;
}

.btn-order:hover{
  transform: scale(1.2);
}


/* Card Extra */
.card-extra{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid rgb(230, 206, 206);
    padding: 10px;
}

/* Pizza Section */
.pizza-section{
    margin: 80px auto;
}

/* About updated start */
#updated-about{
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#updated-about h3{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.6rem;
  font-weight: bolder;
}

#updated-about p{
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.6em;
  width: 60%;
}

.good-food{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(247, 241, 234);
 padding: 20px;
 bottom: 0;
}

/* Food menu-starts */

.card-new-parent{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

#menu-section{
  padding: 2%;
}

.card-new{
  text-align: center;
  transition: 0.4s;
  height: 100%;
  width: 100%;
}

/* .card-new:hover{
  transform: scale(1.1);
} */

.card-element img{
  width: 100%;
  height: 100%;
  display: block;
}

.item-description{
  background: rgb(165, 164, 164);
}

.item-description h3{
  background-color: green;
  padding: 0.6rem;
  color: white;
}

.item-description > p{
  font-size: 0.8rem;
  padding: 0.6rem;
  font-weight: bold;
}




/* Responsive only for mobile */
@media screen and (max-width:576px) {
    .card-container,.about{
        flex-direction: column;  
        gap: 40px;    
    }
    .card{
        width: 100%;
    }
    .card-extra{
        width: 100%;
        border: none;
    }
    .img-w{
      width: 100%;
    }.hero .hero-content{
      width: 95%;
    }.new-banner-content p{
      width: 70%;
    }.new-banner-content{
      padding: 1rem;
    }.card-new:hover{
      pointer-events: none;
    }.card-new-parent{
      flex-direction: column;
    }.card-new{
      width: 90%;
      margin: 1rem auto;
    }#updated-about p{
      width: 90%;
      text-align: justify;
    }
  }